<h3>Anadir Nueva Nota</h3>
<div>
  <form action="nota" method="post" >
    <div class="block" >
      <label>Id: </label>
      <input type="number" [ngModel]='idN' placeholder="idss de la nota" >
    </div>
    <div class="block" >
      <label>Nombre: </label>
      <input type="text" [ngModel]='nameN' placeholder="Nombre de la nota" >
    </div>
    <div class="block" >
      <label>Cuerpo: </label>
      <textarea [ngModel]='bodyN' cols="15" rows="5"></textarea>
    </div>
    <div class="block" >
      <label>Tipo de Nota: </label>
      <select [ngModel]='tNotaN'>
        <option value="reco">Recordatorio</option>
        <option value="cump">Cumpleanios</option>
        <option value="cita">Cita</option>
      </select>
    </div>
    <div class="block" >
      <label>Fecha: </label>
      <input type="date" name="date" >
    </div>
    <div class="block">
      <button (click)="add()" >Guardar</button>
    </div>
    <div class="block">
      <button (click)="goBack()" >Cancelar</button>
    </div>
  </form>
  
</div>